<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
<link th:href="@{/css/solid.min.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


    <title>New Brand item</title>
  </head>
  <body>
  
  <header th:replace="layout/layout :: header"></header>
  	<section style="padding: 30px;">
    <h1>New Brand Item</h1>
	
	<div class="card" style="width: 20rem;">
	  <div class="card-body">
	    
	    <form th:action="@{/brands/savenew}" th:object="${brandNew}" method="post">
		 
		 
		  <div class="mb-3">
		    <label for="name" class="form-label">Name</label>		    
		    <input type="text" class="form-control" th:field="*{name}">		    
		  </div>
		  

		  <br>
		  <button type="submit" class="btn btn-success">Save</button>
		</form>
	  </div>
	</div>
		<br>
	<a th:href="@{'/brands'}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Return</a>
</section>

<footer th:replace="layout/layout :: footer_hope"></footer>
    <script th:src="@{js/bootstrap.bundle.min.js}" ></script>
  </body>
</html>
