<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>HR - Pharmacys</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
		<section style="padding: 30px;">
	<h1>Pharmacy List</h1>

	<div class="card text-center card border-info card text-dark bg-light" style="width: 70rem;">
		<div class="card-header">Pharmacy Management</div>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col" style="width: 25rem;">Name</th>
						<th scope="col" style="width: 25rem;">Address</th>
						<th scope="col" style="width: 25rem;">District</th>
						<th scope="col" style="width: 25rem;">Password</th>
						<th scope="col" style="width: 25rem;">Description</th>
						<th scope="col" style="width: 45rem;">Start Hour</th>
						<th scope="col" style="width: 35rem;">End Hour</th>
						<th scope="col" style="width: 25rem;">RUC</th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pharmacy : ${pharmacies}">
						<th scope="row" th:text="${pharmacy.id}"></th>
						<td th:text="${pharmacy.name}"></td>
						<td th:text="${pharmacy.address}"></td>
						<td th:text="${pharmacy.district}"></td>
						<td th:text="${pharmacy.password}"></td>					
						<td th:text="${pharmacy.description}"></td>
						<td th:text="${pharmacy.startHour}"></td>
						<td th:text="${pharmacy.endHour}"></td>
						<td th:text="${pharmacy.ruc}"></td>
						
						
						<td><a th:href="@{'/pharmacies/' + ${pharmacy.id}}"
							class="btn btn-primary" style="width: 7rem;">View details</a></td>
			
					</tr>
				</tbody>
			</table>

		</div>
		<div class="card-footer text-muted">

		</div>
	</div>
</section>
	<footer th:replace="layout/layout :: footer_hope"></footer>

	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
