<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
<link th:href="@{/css/solid.min.css}" rel="stylesheet">

<title>All Products</title>


</head>
<body>
	<header th:replace="layout/layout :: header"></header>
<section style="margin: 20px;">
 	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
	    <li class="breadcrumb-item"><a th:href="@{/allProducts}">Products</a></li>
	    <li class="breadcrumb-item"><a th:href="@{/shoppingCart}">My Cart</a></li>
	     <li class="breadcrumb-item"><a th:href="@{/pay}">Pay</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Reservations</li>
	  </ol>
	</nav>
 </section>

<section style="padding: 30px;"> 
    <h1>Reservation</h1>
	
	<div class="card" style="width: 20rem;">
	  <div class="card-body">
	    
	    <form method="post">
		  
		  <div class="mb-3">
		  	<label for="name" class="form-label">Price:			S/18.50</label>
		  	<br>
		    <label for="name" class="form-label">Comission:			S/1.85</label>
		    <br>
		    <label for="name" class="form-label">Description:		Aspirina, Jarabe de la tos, Shampoo</label>
		    <br>
		    <label for="name" class="form-label">Start date: 			17/06/2021</label>
		    <br>
		    <label for="name" class="form-label">End date:				19/06/2021</label>		     
		  </div>
		</form>
	  </div>
	  <a th:href="@{/myReservations}" class="btn btn-success">Save</a>
		<a class="btn btn-danger"><i  th:href="@{/pay}" class="fas"></i> Cancel</a>
	</div>
		

	</section>	
	
	
	<footer th:replace="layout/layout :: footer_hope"></footer>

	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
