<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<title>Pharmacy item</title>
</head>
<body>
	<h1>Pharmacy Item</h1>

	<p>
		Id: <span th:text="${pharmacy.id}"></span>, Name: <span
			th:text="${pharmacy.name}"></span>, address: 
			<span th:text="${pharmacy.address}"></span>, district: 
			<span th:text="${pharmacy.district}"></span>, password: 
			<span th:text="${pharmacy.password}"></span>, startHour: 
			<span th:text="${pharmacy.startHour}"></span>, endHour: 
			<span th:text="${pharmacy.endHour}"></span>, ruc: 
			<span th:text="${pharmacy.ruc}"></span>, description: 
			<span th:text="${pharmacy.description}"></span>
	</p>






	<a th:href="@{'/pharmacies'}" class="btn btn-primary"><i
		class="fas fa-plus-square"></i> Return</a>

	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
