<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>HR - Cards</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
	<h1>Card List</h1>

	<div class="card text-center" style="width: 40rem;">
		<div class="card-header">Card management</div>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col" style="width: 25rem;">Num Card</th>
						<th scope="col" style="width: 25rem;">Expiration Date</th>
						<th scope="col" style="width: 25rem;">CVV</th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="card : ${cards}"> 
						<th scope="row" th:text="${card.idCard}"> 1</th>
						<td th:text="${card.numCard}">1234</td>
						<td th:text="${card.expirationDate}"> 34</td>
						<td th:text="${card.cvv}">1234</td>

						<td><a th:href="@{'/cards/' + ${card.id}}"
							class="btn btn-info"><i class="fas fa-eye"></i></a></td>
						<td><a th:href="@{'/cards/' + ${card.id} + '/edit'}"
							class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
						<td><a th:href="@{'/cards/' + ${card.id} + '/del'}"
							class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="card-footer text-muted">
			<a th:href="@{'/cards/new'}" class="btn btn-primary"><i
				class="fas fa-plus-square"></i> New Card</a>
		</div>
	</div>
	
	
	
	<footer th:replace="layout/layout :: footer"></footer>

	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
