<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<title>Card item</title>
</head>
<body>
	<h1>Card Item</h1>

	<p>
		Id: <span th:text="${card.idCard}"></span>, Num Card: <span
			th:text="${card.numCard}"></span>, Expiration Month: <span
			th:text="${card.expirationMonth}"></span>, Expiration Year: <span
			th:text="${card.expirationYear}"></span>, CVV: <span
			th:text="${card.cvv}"></span>
	</p>






	<a th:href="@{'/cards'}" class="btn btn-primary"><i
		class="fas fa-plus-square"></i> Return</a>

	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
