<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <title>New Category item</title>
  </head>
  <body>
    <h1>New Category Item</h1>
	
	<div class="card" style="width: 20rem;">
	  <div class="card-body">
	    
	    <form th:action="@{/categories/savenew}" th:object="${categoryNew}" method="post">
		 
		 
		  <div class="mb-3">
		    <label for="name" class="form-label">Name</label>		    
		    <input type="text" class="form-control" th:field="*{name}">		    
		  </div>
		  

		  
		  <button type="submit" class="btn btn-success">Save</button>
		</form>
	  </div>
	</div>
		
	<a th:href="@{'/categories'}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Return</a>

    <script th:src="@{js/bootstrap.bundle.min.js}" ></script>
  </body>
</html>
