<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
<link th:href="@{/css/solid.min.css}" rel="stylesheet">
 <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

 
<title>My Profile</title>
</head>
<body>

<header th:replace="layout/layout :: header"></header>

<section style="padding: 30px;">

<div class="card text-center">
  <div class="card-header card header-dark bg-info">
    -
  </div>
  <div class="card-body   ">
    <h1 class="card-title">My Profile</h1>
    <img src="..." class="card-img-top" alt="...">
    <p class="card-text">Name: <span sec:authentication="principal.fullName"></span></p>
    <p class="card-text">Cellphone: <span sec:authentication="principal.cellphone"></span></p>
    <p class="card-text">Dni: <span sec:authentication="principal.dni"></span></p>
    <p class="card-text">Email: <span sec:authentication="principal.username"></span></p>


    
	<a th:href="@{'/home'}" class="btn btn-primary"><i
		class="fas fa-plus-square"></i> Return</a>
  </div>
  <div class="card-footer card footer-dark bg-info text-muted">
    -
  </div>
</div>




</section>


<footer th:replace="layout/layout :: footer_hope"></footer>


	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
