<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
	<title>HR - ReservationDetails edit </title>
</head>
 <body>
 	<header th:replace="layout/layout :: header"></header>
   <h1>Editing ReservationDetail Item</h1>

<div class="card" style="width: 20rem;">
  <div class="card-body">
    
    <form th:action="@{/reservationDetails/saveedit}" th:object="${reservationDetailEdit}" method="post">
	
	
	  
		  <div class="mb-3 row">
		    <label for="reservation" class="col-sm-4 col-form-label">Reservation :</label>
		    <div class="col-sm-8">
		      	
		      	<select th:field="*{reservation}" class="form-select" aria-label="Default select example">
				  <option th:each="reservation : ${reservations}"
				  		th:value="${reservation.id}"
				  		th:text="${reservation.description}" ></option>
				</select>
		    </div>
		  </div>
		  
		   <div class="mb-3 row">
		    <label for="product" class="col-sm-4 col-form-label">Product :</label>
		    <div class="col-sm-8">
		      	
		      	<select th:field="*{product}" class="form-select" aria-label="Default select example">
				  <option th:each="product : ${products}"
				  		th:value="${product.id}"
				  		th:text="${product.name}" ></option>
				</select>
		    </div>
		  </div>
		   
	  
	  
	  <button type="submit" class="btn btn-success">Update</button>
	</form>
  </div>
</div>
	
<a th:href="@{'/reservationDetails'}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Return</a>

   <script th:src="@{js/bootstrap.bundle.min.js}" ></script>
 </body>
</html>
