<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>HR - Reservations</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<h1>Reservation List</h1>

	<div class="card text-center" style="width: 40rem;">
		<div class="card-header">Reservation management</div>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col" style="width: 25rem;">Description</th>
						<th scope="col" style="width: 25rem;">Price</th>
						<th scope="col" style="width: 25rem;">Commission</th>
						<th scope="col" style="width: 25rem;">StartDate</th>
						<th scope="col" style="width: 25rem;">EndDate</th>
						<th scope="col" style="width: 25rem;">Card Usada</th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reservation : ${reservations}">
						<th scope="row" th:text="${reservation.id}"></th>
						<td th:text="${reservation.description}"></td>
						<td th:text="${reservation.price}"></td>
						<td th:text="${reservation.commission}"></td>
						<td th:text="${reservation.startDate}"></td>					
						<td th:text="${reservation.endDate}"></td>
						<td th:text="${reservation.card.id}"></td>
						
						
						<td><a th:href="@{'/reservations/' + ${reservation.id}}"
							class="btn btn-info"><i class="fas fa-eye"></i></a></td>
						<td><a
							th:href="@{'/reservations/' + ${reservation.id} + '/edit'}"
							class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
						<td><a
							th:href="@{'/reservations/' + ${reservation.id} + '/del'}"
							class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="card-footer text-muted">
			<a th:href="@{'/reservations/new'}" class="btn btn-primary"><i
				class="fas fa-plus-square"></i> New Reservation</a>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer_hope"></footer>

	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
